<div id="projects"
     class="container">
  <section class="projects">
    <div class="projects__title">
      <p class="projects__subtitle">Ver Todo</p>
      <p class="projects__main-title">Mis Proyectos Personales</p>
    </div>

    <div class="projects__collage">

      <a href="https://github.com/Gicson22/search-Pokemon"
         target="_blank"
         class="projects__collage-card">
        <img src="./assets/img/search_pokemon.png"
             class="projects__collage-img">

        <div class="projects__collage-card-description"> Busca tu Pokemon </div>
      </a>

      <a href="https://github.com/Gicson22/Sistema-Empleados-backend"
         target="_blank"
         class="projects__collage-card">
        <img src="./assets/img/Sistema_empleados_backend.png"
             class="projects__collage-img">

        <div class="projects__collage-card-description"> Sistema-empleados-backend </div>
      </a>

      <a href="https://github.com/Gicson22/Sistema-Empleados-Frontend"
         target="_blank"
         class="projects__collage-card">
        <img src="./assets/img/Sistema_empleados_frontend.png"
             class="projects__collage-img">

        <div class="projects__collage-card-description"> Sistema-empleados-frontend </div>
      </a>

      <a href="https://earnest-yeot-20b85a.netlify.app/"
         target="_blank"
         class="projects__collage-card">
        <img src="./assets/img/project__presupuesto.png"
             class="projects__collage-img">

        <div class="projects__collage-card-description">Presupuesto</div>
      </a>



      <a href="https://statuesque-haupia-52fb69.netlify.app/login"
         target="_blank"
         class="projects__collage-card">

        <img src="./assets/img/project__control-usuarios.png"
             class="projects__collage-img">

        <div class="projects__collage-card-description">Control de clientes</div>
      </a>


      <a href="https://tubular-medovik-2fbb92.netlify.app/"
         target="_blank"
         class="projects__collage-card">


        <img src="./assets/img/project__listado-personas.png"
             class="projects__collage-img">

        <div class="projects__collage-card-description">Listado de personas</div>
      </a>


      <a href="https://github.com/Gicson22/punto-venta"
         target="_blank"
         class="projects__collage-card">
        <img src="./assets/img/project__punto-venta.png"
             class="projects__collage-img">

        <div class="projects__collage-card-description">Punto de venta: Escritorio Python</div>
      </a>

      <a href="https://vermillion-llama-9c4834.netlify.app/"
         target="_blank"
         class="projects__collage-card">
        <img src="./assets/img/project__calculadora.png"
             class="projects__collage-img">

        <div class="projects__collage-card-description">Calculadora</div>
      </a>

      <a href="https://gleaming-malasada-b7872b.netlify.app/"
         target="_blank"
         class="projects__collage-card">

        <img src="./assets/img/project__reloj.png"
             class="projects__collage-img">

        <div class="projects__collage-card-description">Reloj Digital</div>
      </a>

      <a href="https://github.com/Gicson22/punto_venta"
         target="_blank"
         class="projects__collage-card">
        <img src="./assets/img/punto_venta_java.png"
             class="projects__collage-img">

        <div class="projects__collage-card-description">Punto de venta: Escritorio Java</div>
      </a>


    </div>

  </section>
</div>
